body {
    background: #f8f6d6;
}

.button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #efe09e 0%, #f05030 51%, #efe09e 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}


/* 
.button:hover {
    background-position: right center;
} */
/* input[type='checkbox']{
    display:none;
}
label{
    padding-left: 20px;
}

label::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    vertical-align: middle;
}
input[type='checkbox']:checked + label::before{
    text-align: center;
    font-family: sans-serif;
    border-radius: 50%;
    content: 'V';
    background-color: red;
} */